#banner {
    background-color: beige;
}

.colonne {
    background-color: bisque;    
}

.elemento {
    background-color: azure;
    border: 1px solid gray;
}

.riga-alta {
    min-height: 300px;
}

.active {
    color: maroon !important;
}